@model IEnumerable<Marzhel.PentiaAssignment.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Sarch by name", "ByName")</li>
    <li>@Html.ActionLink("Sarch by street", "ByStreet")</li>
    <li>@Html.ActionLink("Sarch by purchase of car make", "ByPurchaseOfCarMake")</li>
    <li>@Html.ActionLink("Sarch by purchase of car model", "ByPurchaseOfCarModel")</li>
    <li>@Html.ActionLink("Sarch by name of sales person", "BySalesPersonName")</li>
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            Car purchases
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarPurchases.Count)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId })
            </td>
        </tr>
    }
</table>
