@model IEnumerable<Marzhel.PentiaAssignment.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Search by name", "ByName")</li>
    <li>@Html.ActionLink("Search by street", "ByStreet")</li>
    <li>@Html.ActionLink("Search by purchase of car make", "ByPurchaseOfCarMake")</li>
    <li>@Html.ActionLink("Search by purchase of car model", "ByPurchaseOfCarModel")</li>
    <li>@Html.ActionLink("Search by name of sales person", "BySalesPersonName")</li>
</ul>

@Html.Partial("CustomerTable")
